version: "3.8"

services:
  backend:
    build: ./backend
    container_name: campus-backend
    ports:
      - "5001:5000"

  frontend:
    build: ./frontend
    container_name: campus-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
